.title {
  text-align: left;
}
.header {
  background-color: #f8f9fa;
  padding-top: 4px;
  padding-bottom: 6px;
}
.header .link {
  display: inline-block;
}
.header .link:not(:last-child) {
  margin-right: 40px;
}
.comment-input {
  height: 44px;
  width: 100%;
}
